@font-face {
	font-family: 'Gilmer Bold';
	src: url(../../assets/fonts/GilmerBold.woff2) format('woff2'),
	url(../../assets/fonts/GilmerBold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}