@font-face {
	font-family: 'Gilmer Regular';
	src: url(../../assets/fonts/GilmerRegular.woff2) format('woff2'),
	url(../../assets/fonts/GilmerRegular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}